#header{
    width: 95%;
    display: inline-block;
    text-align: left;
}

.menu ul{
    line-height: 2.5;
    border-top: 1px solid lightgray;
    border-bottom: 1px solid lightgray;
    padding-left: 0;
}

.menu li{
    display: inline-block;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 80%;
    margin-right: 40px;
}

.link{
    color: dimgray;
    text-align: left;
    text-decoration: none;
}

.link:hover{
    color: black;
}

h1 a.link:hover{
    color: darkcyan;
}